/* * {
    border: 0.5px solid blue;
} */
:root {
    --main-bg-color: #E5E3E0;
}

html {
    height: 100%;
}
body {
    background-color: var(--main-bg-color);
    width: 100vh;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: inline-grid;
    grid-template-columns: 1fr auto;
}

.right-side-container {
    height: 100vh;
    width: 66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.side-photo {
    background: url(/Users/joelbedard/Developer/repos/Odin-Sign-Up-Form/img/jesse-bauer-uhkH4kdA1MA-unsplash.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 550px;  
    position: relative;

}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 50px;
    width: 100%;
    background: #00000088 30%;
    top: 200px;
}

.logo {
    height: 150px;
    width: auto;
}

.logo-text {
    color: white;
}

.form-container {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
}

.form-container,
.top-text,
.bottom-text {
    padding-left: 50px;
}

.box {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
